@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic&display=swap');


@theme {
  --font-gothic: "Special Gothic", serif; 
  --color-gruy: #0d1b2a;
}

body {
 background: #0d1b2a;
 color: #fff;
 font-family: "Special Gothic";
}